body {
  width: 25%;
}

#res {
  background-color: red;
  border: solid;
  height: 48px;
  font-size: 25px;
  color:blue;
}

#btns button {
  width: 25%;
  height: 60px;
  font-size: 35px;
  margin:0;
  float: left;
}

#btn0, #btn1 {
  background-color: lightgreen;
  color: brown;
  font-size: 25px;
}

#btnClr, #btnEql {
  background-color: darkgreen;
  color: white;
  font-size: 25px;
}

#btnSum, #btnSub, #btnMul, #btnDiv {
  background-color: blue;
  font-size: 25px;
  color: yellow;
}